body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    letter-spacing: 0.075em;
    color: #9b9b9b;
    height:100vh;
}

*{
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, [class*='heading-'] {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #151515;
}

header{
    height: 136px;
    width: 100%;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1500px;
}

.nav-list{
    padding: 0;
    margin: 0;
}

.nav-list-items{
    position: relative;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #001515;
    line-height: 1.2;
    font-size: 16px;
    cursor: pointer;
}
.nav-list-items.active{
    color: #4cd6ee
}
.nav-list-items + .nav-list-items{
    margin-left: 25px;
}

main{
    width: 100%;
    position: relative;

}

.slideShow{
    width: 100%;
}
.slideShow-wrapper{
    min-height: 320px;
    max-height: 721px;
    height: calc(100vh - 150px);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.slideShow-item{
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-image: url(assets/slide-04.jpg);
    background-position: right top;
   
}
.slideShow-item-content{
    padding-left: 15px;
    padding-right: 15px;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
h4, .heading-4 {
    font-size: 20px;
    line-height: 1.2;
}
.heading-divider-modern {
    position: relative;
    padding-left: 22px;
}
.container p {
    display: block;
}
.heading-divider-modern:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-left: 4px solid #4cd6ee;
}
h1, .heading-1 {
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #151515;
    margin-top: 25px;
}
* + .button {
    margin-top: 35px;
}
.button-lg {
    min-width: 230px;
    min-height: 61px;
    background-color: #86d05d;
    color: white;
    font-size: 13px;
}
.button{
    padding: 9px 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    border: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.button-effect-ujarak::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: #4cd6ee;
    z-index: -1;
    opacity: 0;
}

.left-slide i{
    display: block;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: #151515;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.right-slide i{
    display: block;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: #151515;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.left-slide:before {
    font-family: 'fl-budicons-free';
    content: "\e016";
}
.right-slide:before {
    font-family: 'fl-budicons-free';
    content: "\e025";
}


.about{
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
.about-wrapper{
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.about-flex{
    display: flex;
}
.flex-item--about{
    display: flex;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.flex-item--about.first,.flex-item--about.third{
    width: 30%;
}
.flex-item--about.second{
    width: 40%;
}
.block-classic {
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
}
.block-classic-title + * {
    margin-top: 30px;
}
.block-classic .work-info dl {
    padding-bottom: 10px;
    padding-top: 10px;
}
.work-info dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -5px;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin: 0;
}
.work-info dt {
    color: #151515;
}
.work-info dt, .work-info dd {
    font-weight: 400;
}

.work-info dl > *, .work-info dl > *:last-child {
    margin-bottom: 5px;
}
.work-info dl > * {
    display: inline-block;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0;
}
.work-info dl > *, .work-info dl > *:last-child {
    margin-bottom: 5px;
}

.work-info dd {
    text-align: right;
}
.work-info dt, .work-info dd {
    font-weight: 400;
}
.work-info dl > * {
    display: inline-block;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0;
}
dd {
    margin-bottom: 0;
}
dt, dd {
    line-height: inherit;
}

.rd-mailform {
    position: relative;
    text-align: left;
}
.row-narrow {
    margin-left: -10px;
    margin-right: -10px;
}

.row-20 {
    margin-bottom: -20px;
}
.col-md-5 {
    flex: 0 0 auto;
    width: 50%;
}

.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.row-narrow > * {
    padding-left: 10px;
    padding-right: 10px;
}
.row-20 > * {
    margin-bottom: 20px;
}
.form-wrap {
    position: relative;
}
.select2-container {
    position: relative;
    display: inline-block;
    width: 100% !important;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #f5f5f5;
    background-color: #fff;
}

.select2-container .select2-selection--single {
    display: block;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1;
    color: #9b9b9b;
    padding-right: 45px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 20px;
    height: 26px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    display: inline-block;
    font-weight: 400;
    content: "";
    font-family: 'Material Design Icons';
    font-size: 22px;
    transform: rotate(
0deg
);
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.form-label {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #9b9b9b;
    pointer-events: none;
    z-index: 9;
    transition: .3s;
    transform: translateY(-50%);
    letter-spacing: 0.075em;
}

.form-label {
    margin-bottom: 0.5rem;
}
label {
    margin-bottom: 0;
}
label {
    display: inline-block;
}
.form-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #9b9b9b;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #f5f5f5;
    border-radius: 0;
    letter-spacing: 0.075em;
    -webkit-appearance: none;
    outline:none;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.button-effect-ujarak {
    position: relative;
    z-index: 0;
    transition: background 0.4s, border-color 0.4s, color 0.4s;
    border-radius: 0;
}
.button-albus, .button-albus:focus, .button-albus:active {
    color: #151515;
    background-color: #ebebeb;
}
.button-block {
    display: flex;
    width: 100%;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    font-size: 12px;
    border: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 9px 15px;
    text-transform: uppercase;
    min-width: 180px;
    min-height: 51px;
}
.button-effect-ujarak::before {
    
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: #4cd6ee;
    z-index: -1;
    opacity: 0;
    
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.block-classic-link .icon {
    font-size: 24px;
    color: #4cd6ee;
    margin-right: 18px;
    vertical-align: middle;
}
.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}
.block-classic-link a, .block-classic-link a:focus, .block-classic-link a:active {
    color: #151515;
}
.block-classic-link a {
    position: relative;
    top: 2px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}
.block-classic-divider {
    width: 100%;
    max-width: 264px;
    height: 1px;
    border-top: 1px solid #ebebeb;
}
.block-classic-divider + *, * + .block-classic-divider {
    margin-top: 20px;
}
/* SERVICES */
.services{
    background-color: #f5f5f5;
}
.section-lg {
    padding-top: 100px;
    padding-bottom: 100px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.flex-row{
    display: flex;
    width: 100%;
}
.col-xl-5 {
    flex: 0 0 auto;
    width: 50%;
}
.about-out {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.about-out-item {
    flex-basis: 50%;
    position: relative;
}
.about-out-item:nth-child(1) {
    position: relative;
}
.about-out-item:nth-child(even) {
    text-align: right;
}
.about-out-item-inner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 228px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.about-out-item-inner i{
      font-size: 50px;
      color: #4cd6ee;
      margin-right: 18px;
      vertical-align: middle;
}
.about-out-item-inner, .about-out-item-inner:first-child, .about-out-item-inner:last-child {
    max-width: calc(100% - 60px / 2);
    margin-top: 60px;
}
.about-out-item:nth-child(1) .about-out-item-inner, .about-out-item:nth-child(2) .about-out-item-inner {
    margin-top: 0;
}
.about-out-item:nth-child(1):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: -12px;
    width: 1px;
    border-left: 1px solid #dfdfdf;
}
.icon-primary {
    color: #4cd6ee;
}
.icon-xl {
    font-size: 50px;
}
.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}
* + h4 {
    margin-top: 15px;
}
.icon:before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.d-xl-flex {
    display: flex !important;
}
.about-unit {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 100%;
}
.about-unit {
    margin-left: 30px;
    padding: 30px;
}
h2, .heading-2 {
    font-size: 32px;
    line-height: 1.2;
}
p {
    margin: 0;
}
.about-unit-title + * {
    margin-top: 18px;
}
.about-unit-quote {
    display: flex;
    align-items: center;
}
* + .about-unit-quote {
    margin-top: 30px;
}
.about-unit-quote-left {
    flex-shrink: 0;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.about-unit-quote-body {
    margin-top: 0;
    margin-left: 30px;
}
.about-unit-quote-body {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}
.about-unit-quote-title {
    font-weight: 400;
}
h4, .heading-4 {
    font-size: 20px;
    line-height: 1.2;
}
* + .about-unit-quote-cite {
    margin-top: 5px;
}
.about-unit-quote-cite {
    color: #4cd6ee;
}
* + .about-unit-quote-divider, .about-unit-quote-divider + * {
    margin-top: 20px;
}
.about-unit-quote-divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #dfdfdf;
}
.about-unit-quote-content {
    display: flex;
    align-items: flex-start;
}
.about-unit-quote svg {
    fill: #4cd6ee;
}
.about-unit-quote-content-body {
    margin-left: 15px;
    font-style: italic;
    color: #9b9b9b;
    transform: translateY(-5px);
}
/*ourservices section start*/
.our-services-inner{
    padding-top:100px;
    padding-bottom:100px;
}
.our-services-inner-heading{
    display:flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right:10px;
}
.our-services-inner-items-details-heading  h4{
    font-weight: 400;
    margin-top: 15px;
    font-size: 24px;
}
.our-services-inner-items-details-heading p{
    margin-top:10px;
}
.our-services-inner-heading-sliders{
    display:Flex;
}
.our-services-inner-heading-sliders i{
    display: inline-flex;
    width: 52px;
    height: 52px;
    line-height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease-out all;
}
.our-services-inner-items{
    display:Flex;
    padding:10px;
    justify-content:space-between;
}
.our-services-inner-items img{
    height:229px;
    width:267px;
    object-fit: cover;
    display: inline-block;
    
  
    box-sizing: border-box;
}
/*ourservices section ends*/
/*parallax-container section starts*/
.parallax-content-section-lg{
      background-image: url(https://livedemo00.template-help.com/wt_prod-23197/images/bg-18.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      box-sizing: border-box;
      z-index: -1;
      transition: all 0.3s;
      position: relative;
}
.parallax-content-section-lg{
    height:300px;
}
.block-center{
    text-align:center;
}
.block-center h3{
        font-size: 36px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
            font-family: "Ubuntu",
            sans-serif;
            font-weight: 500;
            letter-spacing: 0;
            color: #151515;
}
.block-center p{
        font-size: 16px;
        line-height: 1;
        color: #151515;
}
.button-secondary-1{
    color: #fff;
    background-color: #86d05d;
    padding:9px 30px;
}