

body {

  font-family: "Poppins", sans-serif;
}
/*main start*/
.container {
  width: 1220px;
  height: 80vh;
  margin: 61px auto;
  position: relative;
}
#main {
  height: 500px;
  width: 1220px;
}
.bg-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
  right: 0;
  top: 0;
  background-size: contain;
  z-index: -5;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
}
.main-container {
  width: 1200px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}
.resume {
  display: flex;
  padding-top: 20px;
}
button {
  color: red;
}
span {
  font-family: sans-serif;
  font-weight: 300;
  padding-left: 8px;
}
.introduce {
  margin-bottom: 200px;
}
.introduce-name h2 {
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1f1f29;
  line-height: 0.69em;
  letter-spacing: 0.14em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.introduce-name h2:nth-child(2) {
  margin: 13px 0;
}
.introduce-icon {
  background-color: #ff4d57;
}
.introduce-job {
  display: flex;
  padding-left: 30px;
  align-items: center;
  margin-top: 4px;
}
.introduce-icon {
  width: 250px;
  margin-left: 93px;
  height: 3px;
  margin-right: 25px;
}
.job-name span {
  letter-spacing: 0.14em;
  line-height: 0.69em;
}
/*main finish*/
/*haqqimda section baslayir*/
.section2 {
  margin-left: 8.33333333%;
}
hr {
  width: 65px;
  margin: 0 0 0;
  border-width: 4px;

  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #ff4d57;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 0px;
  letter-spacing: 0.75px;
}
h2 {
  font-family: "Poppins", sans-serif;
      font-size: 19px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 13px;
      letter-spacing: 1.2px;
      }

/*portfolio baslayir*/
*{box-sizing: border-box;}
.portfolio{

 margin-left: 8.33333333%;
}

.portfolio-heading h2{
    font-family: "Poppins",
    sans-serif;
font-size: 19px;
line-height: 19px;
font-weight: 600;
margin-bottom: 13px;
letter-spacing: 1.5px;
color:#1f1f29;
}

   hr{ width: 65px;

    border-width: 4px;
    border-color: #ff4d57;

    }
    .menu{
      display: flex;
    margin-top: 20px; }
    .menu span{
         font-family: "Poppins",
         sans-serif;
         font-size: 13px;
         line-height: 15px;
         font-weight: 700;
         margin-bottom: 13px;
         letter-spacing: 1.5px;
         color:#1f1f29;
         text-transform: uppercase;
         text-decoration: none;
         }
    .img-video{
      
      display:flex;
    


    }
    .img-videos{
      display: flex;
    }
    .img-frame{
      display: flex;
      flex-direction: column;
      width:1200px;
    }
    .img-items img{ margin-left: 10px;
    width:250px}