html {
  scroll-behavior: smooth;
}

.menu-item ul li::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.app {
  margin: 30px;
  box-sizing: border-box;
}

.blackframe-container {
  border: 25px solid black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

.container {
  max-width: 1200px;
   margin: 0 auto;
box-sizing: border-box;
}

.bg-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
  right: 0;
  top: 0;
  background-size: contain;
  z-index: -5;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding-top: 42px;
  justify-content: end;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1f1f29;
  line-height: 0.69em;
  letter-spacing: 0.20em;
}
.navbar ul li {
  margin: 10px;
}
.introduce {
  margin-bottom: 200px;
  margin-top: 240px;
}
.introduce-name h2 {
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1f1f29;
  line-height: 0.69em;
  letter-spacing: 0.14em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 22px;
}

.introduce-name {
  margin-bottom: 26px;
}
.introduce-name h2:nth-child(2) {
  margin: 13px 0;
}

.introduce-icon {
  background-color: black;
}
.introduce-job {
  display: flex;
  padding-left: 30px;
  align-items: center;
  margin-top: 4px;
}

.introduce-job hr {
  width: 498px;
  border-width: 6px;
  border-color: black;
  margin-left: 53px;
  margin-top: 5px;
}
.job-name span {
  font-weight: 800;
  text-transform: uppercase;
  color: #1f1f29;
  letter-spacing: 0.5em;
  font-size: 14 px;
  font-family: sans-serif;
  padding-left: 30px;
}

/*main finish*/
/*haqqimda section baslayir*/
hr {
  width: 65px;
  margin: 0 0 0;
  border-width: 4px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid black;
}

#about {
  margin-left: 8.33333333%;
  margin-right: 8.3%;
}

.section-about p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 0px;
  letter-spacing: 0.75px;
  color: #424250;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 13px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
}
.personal-skills {
  margin-left: 8.33333333%;
  box-sizing: border-box;
  margin-right: 8.3%;
  padding-bottom: 40px;
  padding-top: 40px;

}
.skill-icons {
  display: flex;
  margin-top: 50px;
  font-size: 70px;

}
.skill-icons i {
  color: #F56040;
  margin-right: 40px;
}
.skill-icons i:nth-child(2) {
  color: #156AA6;
  margin-right: 40px;
}
.skill-icons i:nth-child(3) {
  color: #F7D604;
  margin-right: 40px;
}
.skill-icons i:nth-child(4) {
  color: #306998;
}
.skill-icons i:nth-child(5) {
  color: #6e5494;

}
/*tehsilvetecrube sectionu baslayir*/
#tehsilvetecrube {
  padding-right: 30px;
  margin-left: 8.33333333%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 8.3%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 30px;
}
.work-items {
  border-left: 1px dashed #000;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
}
.work-line h3 {
  background-color: black;
  width: 200px;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 0 13px;
  box-sizing: border-box;
}

h3 {
  box-sizing: border-box;
  margin: 0;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #424250;
  font-family: 'Poppins', sans-serif;
  margin-left: 23px;
}

.job-location {
  margin-top: 0px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #424250;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  margin-left: 23px;
  letter-spacing: 0.75px;
}
.work-about {
  color: #424250;
  margin-left: 23px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 13px;
  letter-spacing: 0.75px;
}
.education-items {
  border-left: 1px dashed #000;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
}

.education-line h3 {
  background-color: black;
  width: 200px;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 0 13px;
  box-sizing: border-box;
}

h3 {
  box-sizing: border-box;
  margin: 0;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #424250;
  font-family: 'Poppins',sans-serif;
  margin-left: 23px;
}
.education-location {
  margin-top: 0px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #424250;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  margin-left: 23px;
  letter-spacing: 0.75px;
}

.education-about {
  color: #424250;
  margin-left: 23px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 13px;
  letter-spacing: 0.75px;
}
/*tehsilvetecrube sectionu bitir*/
/*portfolio sectionu baslayir*/
#portfolio {
  /*padding-right: 30px;*/
  margin-left: 8.33333333%;
  margin-right: 8.3%;
}

* {
  box-sizing: border-box;
}

.portfolio {
  padding-top: 40px;
  margin: 0 auto;
}

.portfolio .heading {
  margin-top: 0px;
}

hr {
  width: 65px;
  border-width: 4px;
  border-color: black;
}

.menu {
  display: flex;
  margin-top: 20px;
  margin-bottom: 27px;
  gap: 22px;
}

.menu span {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: 13px;
  letter-spacing: 1.5px;
  color: #1f1f29;
  text-transform: uppercase;
  text-decoration: none;
}

.img-frame {
  position: relative;
}

.img-video {
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
}

.img-items img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.img-items {
  position: relative;
  overflow: hidden;
  height: 180px;
}

.test {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: #ff5c4a;
  opacity: 0;
  left: 0px;
  bottom: 0px;
  transition: .6s ease all;
  -webkit-transition: .6s ease all;
  -moz-transition: .6s ease all;
  -ms-transition: .6s ease all;
  -o-transition: .6s ease all;
  cursor: pointer;
}

.test:hover {
  transition: .6s ease all;
  opacity: 0.85;
  -webkit-transition: .6s ease all;
  -moz-transition: .6s ease all;
  -ms-transition: .6s ease all;
  -o-transition: .6s ease all;
}

.test .fa-image {
  font-size: 35px;
  color: #fff;
}

.test .fa-video-camera {
  font-size: 35px;
  color: #fff;
}

.test p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
}

/*rey hisse acilir*/
#reference {
  margin-top: 99px;
}

#references {
  margin-left: 8.33333333%;
  margin-right: 8.3%;
}

.heading {
  margin-top: 99px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 25px;
}

.rey {
  margin-bottom: 20px;
}

.commenter-info {
  display: flex;
  align-items: center;
}

.comment-frame {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap:30px;
}

q {
  font-size: 14px;
  font-style: italic;
  word-break: break-all;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 0px;
  letter-spacing: 0.75px;
  color: #424250;
}

.commenter-details {
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  margin-left: 1px;
}


.reyci-adi {
  font-size: 14px;
  color: black;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.reyci-isi {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 2;
  color: #333;
  margin: 0;
}

.commenter-info img {
  width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin: 0px;
  margin-right: 20px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*connect sectionu baslayir
*/
#connect {
  display: flex;
  margin-top: 100px;
  /*
      padding-right: 30px;*/
  margin-left: 8.33333333%;
  margin-right: 8.3%;
}

.connect-title {
  padding: 2px;
}

.connect-title {
  margin-bottom: 50px;
}

.heading-connect h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 19px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.2px;
}

.iconlar {
  display: flex;
  gap: 10px;
}

.iconlar li {
  width: 22px;
  height: 22px;
  font-size: 12px;
  background: #2c4762;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.icons {
  margin-left: 35px;
}

.icons {
  margin-left: 35px;
}

/*connect section baglandi*/
/*form section basladi*/
#form {
  min-height: 410px;
  padding: 45px 97px;
  top: 60px;
  right: 161px;
}

.form-box {
  background-color: white;
  padding: 45px 40px;
  margin: 0 0 0 auto;
  box-shadow: 1px 0px 18px 4px rgb(91 94 250 / 20%);
  -moz-box-shadow: 1px 0px 18px 4px rgba(91, 94, 250, 0.2);
}

.form {
  padding: 15px;
  margin-left: 76%;
  width: 100%;
  box-sizing: border-box;
}

input {
  padding: 15px;
  outline: none;
}

.form p {
  margin-top: 0px;
  font-weight: 600;
  color: #424250;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 0px;
  letter-spacing: 0.75px;
}
.input{
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  color: #000;
  padding: 0.5em 1em 0.5em 0;
  border-bottom: 2px solid #adaefc;
  line-height: 26px;
  min-height: 62px;
  outline: none;
}
.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.submit button:hover {
  color: #a5a5bb;
  transition: all ease .4s;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
}

.submit button {
  transition: all ease .4s;
  box-sizing: border-box;
  cursor: pointer;
  background: #fff;
  outline: none;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: transparent;
  /* height: 20px;
  width: 87px; */
  border: none;
  border-bottom: 4px solid black;
  /* margin-left: 63px; */
}