{% extends "admin/base.html" %} {% block content %}
<section id="form">
  <h2>Bacarıqlar</h2>
  <div class="form-box">
    <form action="/admin/" for="exampleFormControlInput1" class="form-label">
      <div class="bacariqlar">
        <label> </label>
        <input
          type="text"
          class="input"
          name="skills"
          id="skills"
          placeholder="Bacarıqlar"
          required
        />
      </div>
      <div class="submit">
        <label> </label>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
